<?php

// Параметры соединения с базой данных
// Хост
$dbHost = '';
// Имя базы данных
$dbPrefix = '';
// Название таблицы
$dbName = '';
// Имя пользователя
$dbUser = '';
// Пароль
$dbPassword = '';

// ID команды на сайте рейтинга
$id_cmd = 1;
// Название команды
$name_cmd = "Лучшая команда в мире";
// Сокращенное название команды
$name_cmd_short = "ЛКВМ";

// Имя, от которого шлется статистика
$mail_from_name = "Раб рейтинга";
// Адрес, с которого шлется статистика
$mail_from_address = "test@test.com";
// Адрес, на который шлется статистика
$mail_to_address = "list@test.com";
// Тема письма
$mail_subject = "Rating news";
// Период, за который запрашивается статистика
// Количество месяцев
$stat_period = 2;

// Локализация
// Приветствие
$txt['greeting'] = 'Дружелюбный робот приветствует вас. Новый турнир занесен в рейтинг!';
// Прощание
$txt['bye'] = '-- See you later, alligator';

?>